<h1 class="mb-4 text-center">Alunos</h1>

<% @alunos.each do |aluno| %>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h4 class="mb-0"><%= aluno.nome %></h4>
      <h4 class="mb-0">CR: <%= aluno.calcula_cr %></h4>
    </div>
    <div class="card-body">
      <h4 class="card-title">Histórico</h4>
      <%= render partial: 'historicos/historicos',
                 locals: { historicos: aluno.historicos } %>
    </div>
    <div class="card-footer">
      <%= link_to 'Adicionar nota', new_historico_path(aluno_id: aluno.id), class: 'btn btn-primary' %>
      <%= link_to 'Visualizar', aluno_path(id: aluno.id), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
